$base-color: #2196f3;
$accent-light-color: #f48fb1;


/*
    Top menu / toolbar
*/

.mainHeader {
    background-color: $neutral-dark-color;
    color: white;
}

.menubutton {
    height: 50px;
    width: 50px;
    font-size: 1.6rem;
    color: white;
}


/*
    Button icons
*/

.x-button .x-button-icon, .x-button {
    //color: white;
}