
.dashboardOuter {
    font-size: 300%; 
    height: 100%; 
    text-align: center;
}

@media screen and (min-width: 600px) {
    .dashboardOuter {
        font-size: 400%;
    }
}


@media screen and (min-width: 1100px) {
    .dashboardOuter {
        font-size: 500%;
    }
}

@media screen and (min-width: 1600px) {
    .dashboardOuter {
        font-size: 600%;
    }
}

@media screen and (min-width: 1900px) {
    .dashboardOuter {
        font-size: 700%;
    }
}

.dashboardInner { 
    position: relative; 
    top: 50%; 
    transform: translateY(-50%);
}